body {
    width: 100%;
    height: 500px;
    margin: 0px;
}

#left {
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
}

#right {
    float: right;
    width: 60%;
    height: 90%;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#text {
    margin: 5%;
}

#question {
    float: left;
    width: 25%;
    text-align: left;
    font-weight: 600;
    font-family: Microsoft JhengHei;
    font-size: 1.7vw;
}

#answer {
    float: right;
    width: 70%;
    text-align: center;
    font-weight: 600;
    font-family: Microsoft JhengHei;
    font-size: 1.3vw;
}

#jimmy1 {
    padding: 0.7%;
}
