body {
    background-color: black;
    text-align: center;
}

.line-right {
    color: white;
    font-size: 14px;
    font-weight: 800;
}

.a-blue {
    color: white;
}

#jimmy {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#haha {
    height: 30px;
    text-align: right;
    margin-right: 5%;
    font-size: 20px;
}

#haha:hover {
    font-size: 24px;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 5px;
}